export USER_UID=$UID
export USER_GID=$GID
export FILESHARE_ADMIN_PASSWORD=

# HOSTS
export DOMAIN=
export FILESHARE_HOST=
export LDAP_HOST=
export KANBAN_HOST=
export MTA_HOST=
export GIT_HOST=
export PROTOCOL=

# LDAP THINGS
export LDAP_DOMAIN=
export LDAP_PASS=
export JWT_SECRET=
export KEY_SEED=
export LDAP_USERS=
export LDAP_GROUPS=

# DB CREDS
export LDAP_ROOT_DB=
export LDAP_USER_DB=
export KANBAN_ROOT_DB=
export KANBAN_USER_DB=
export GIT_ROOT_DB=
export GIT_USER_DB=
export FILESHARE_ROOT_DB=
export FILESHARE_USER_DB=
