export USER_UID=$UID
export USER_GID=$GID
export FILESHARE_ADMIN_PASSWORD=
export KANBAN_MQ_COOKIE=
export KANBAN_SECRET_KEY=

# HOSTS
export DOMAIN=
export FILESHARE_HOST=
export LDAP_HOST=
export KANBAN_HOST=
export MTA_HOST=
export SMTP_HOST=
export GIT_HOST=
export PROTOCOL=
export WEBSOCKET_PROTOCOL=

# LDAP THINGS
export LDAP_DOMAIN=
export LDAP_PASS=
export JWT_SECRET=
export KEY_SEED=
export LDAP_USERS=
export LDAP_GROUPS=

#LDAP GROUPS
export GIT_USER=
export GIT_ADMIN=
export KANBAN_READONLY=
export KANBAN_USER=
export KANBAN_ADMIN=

# DB CREDS
export LDAP_ROOT_DB=
export LDAP_USER_DB=
export KANBAN_ROOT_DB=
export KANBAN_USER_DB=
export GIT_ROOT_DB=
export GIT_USER_DB=
export FILESHARE_ROOT_DB=
export FILESHARE_USER_DB=
export KANBAN_RABBITMQ_PASS=
